.header,
.villa-parques,
.villa-ramsa {
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.header {
   background-image: url("/assets/img/portada-1-logos.jpg");
   background-image: image-set(
      url("/assets/img/portada-1-logos.avif") 1x,
      url("/assets/img/portada-1-logos.webp") 1x,
      url("/assets/img/portada-1-logos.jpg") 1x
   );
}

.villa-parques {
   background-image: url("/assets/img/los-parques-2.jpg");
   background-image: image-set(
      url("/assets/img/los-parques-2.avif") 1x,
      url("/assets/img/los-parques-2.webp") 1x,
      url("/assets/img/los-parques-2.jpg") 1x
   );
}

.villa-ramsa {
   background-image: url("/assets/img/portada-ramsa.jpg");
   background-image: image-set(
      url("/assets/img/portada-ramsa.avif") 1x,
      url("/assets/img/portada-ramsa.webp") 1x,
      url("/assets/img/portada-ramsa.jpg") 1x
   );
}

.header::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.2);
}

